<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://staticg.sportskeeda.com/editor/2020/12/ed6f5-16069157093599-800.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS</h5>
                          <a href="#" class="btn btn-primary">buynow</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
